/*NAVIGATION CSS*/
#navBar {
	background-color: #dba548;
	width: 100%;
	top:0;
	left:0;
	position:relative;
	text-align:center;
	padding-top:10px;
	padding-right:10px;
	padding-left:10px;
	z-index:1000;
}



.sideLink {
	text-decoration:none;
	font-size:1.5em;
	width:auto;
	color:black;
	font-family: 'Amatic SC', cursive;

}


.menuLink {
	padding:20px;
	margin-top:30px;
	font-family: 'Amatic SC', cursive;

}


.menuLink :hover {
	background-color:#EDDCA6;
	height:20px;
	width:60px;



}

#menuTable {
	
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:80%;



}
/*PAGE SETUP*/
#wrapper {
	min-height:800px;
	position:relative;



}
#pageTitle {
	min-height:120px;
	font-size:5em;
	margin-top:5px;
	margin-left:15px;
	font-family: 'Amatic SC', cursive;

}


body{
	margin:0;
	padding:0;
	height:100%;
	background-color:#ede6df;

}


#pageTypeContent {
	margin:5px;
	padding:10px;
	padding-bottom:80px;
	height:100%;
	


}

#pageDescription {
	margin-left:15px;
}


#dataTitles {
	font-size:1.6em;


}
#dataTable {
	
	width: 90%;
	padding: 20px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	font-size: 1.4em;
	background-color: #EDDCA6;
	text-align:center;
	border-radius:12px;
}

#footer{
	bottom:0px;
	
}

/*****************************MAIN PAGE****************************/


#mainTitle1 {
	color: #704949;
	font-family: 'Oswald', sans-serif;
	font-size: 4em;

	z-index:2000;
}


#mainTitle2 {

	color: #704949;
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
	margin-top:-10px;
		z-index:2000;
}

.mainBlock {
	width:33%;
	float:left;
	
	background-color: #a19b91;


}

.mainBlock .text{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	border-radius:12px;
	
}


.mainBlock:before{
	content: "";
	display:block;
	padding-top:100%;

}


/* SECTION SPECIFIC CSS */

.sectionContainer {
	text-align:center;
	float:left;
	margin-top:50px;


}
.sectionBlock {
	width:30%;
	height:200px;
	background-color:#a19b91;
	margin:10px;
	float:left;
	text-align:center;
	border-radius:12px;
	
}

#sectionContainer :hover{
	background-color:#5294AA;
	
}

.sectionText {
	font-size:2em;
	color:white;
	margin-top:80px;
	font-family: 'Oswald', sans-serif;
	


}


/* ARTICLE SPECIFIC CSS*/
#articleIntro {
	font-style:italic;
	text-align:center;
	margin-top:10px;
	font-size:1.2em;
}


#articleText {
	padding:55px;
	height:50px;

}


.articleTitle {
	font-size:1.8em;
	margin-left:25px;
	padding:5px;
	margin-bottom:10px;
	width:100%;
		font-family: 'Oswald', sans-serif;
	
	
}


a {
	color:black;
	text-decoration:none;
}


.articleTitle:hover {
	background-color:#66B9D4;
	
}


/*LOGIN FORM*/

#loginForm {
	width:30%;
	height:500px;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	margin-top:87px;
	background-color:gray;
	border-radius:12px;
	padding-top:30px;
}


.input {
	height:30px;
	font-size:1.5em;
	margin:10px;
	border-radius:6px;


}


.button {

	font-size:1em;

  	height: 50px;
  	padding: 5;
  	font-size: 22px;
  	color: white;
  	text-align: center;
  	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  	background: #e67e22;
  	border: 0;
  	border-bottom: 2px solid #da751c;
  	cursor: pointer;
  	-webkit-box-shadow: inset 0 -2px #da751c;
  	box-shadow: inset 0 -2px #da751c;
  				


}
